@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: font_dancing;
    src: url(/assets/fronts/DancingScript-VariableFont_wght.ttf);
    font-weight: normal;
    font-size: normal;
}

/* set up */

:root {
    --white-color: #ffff;
    --icon-color: #425fbc;
    --header-color: #24273c;
    --navbar-color: #425fbc;
    --def: #91bacb; 	
	--inv: #100f0f;
}



* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

/* layout */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

/* TEST Responesive */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 5px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #959393;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    box-shadow: var(--boxshadow);
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item-active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item-active .pagination-item__link:hover {
    filter: brightness(70%);
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    display: block;
    text-align: center;
}

body{
    background-color: #fbfbff !important;
}