* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e4e4e4;
}

.myapp {
    padding: 0;
    width: 100%;
    height: 100%;
}

.header-cover {
    padding: 0;
    position: fixed;
    z-index: 95;
    transition: top 1.5s;
    height: fit-content;
}



/* Navbar -----------------------------------------------------------------------------------------------*/
.navbar {
    background-color: #24273c;
    padding: 14px 0;
    margin: 0;
}

.navbar-cover__logo {
    display: flex;
}

.navbar-logo {
    display: flex;
    height: 100%;
    text-decoration: none !important;
    color: var(--white-color);
    margin: 0px !important;
    text-decoration: none;
}

.navbar-logo:hover {
    color: var(--white-color);
}

.navbar-logo__img {
    max-width: 150px;
    height: 50px;
}

.navbar-logo__content {
    color: var(--white-color);
    align-self: flex-end;
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 6px;
    margin: 0px 0px 0px 8px;
}

.navbar-logo__symbol {
    color: #0aa7de;
    margin-left: 2px;
    font-size: 3.2rem;
}

.navbar-cover__info {
    padding: 0;
}

.navbar-info {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-info-content {
    margin-bottom: 0;
    font-size: 1rem;
}

.navbar-info-phonenumber {
    font-size: 1.8rem;
    margin-left: 6px;
}


.navbar-navigation {
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.navbar-navigation__list {
    height: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}

.navbar-navigation__link {
    text-decoration: none !important;
    margin-right: 20px;
}

.navbar-navigation__link--color {
    color: #0aa7de;
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.navbar-navigation__link:last-child {
    margin-right: 0;
}

.navbar-navigation__link:hover {
    color: #0aa7de;
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.navbar-navigation__item {
    font-size: 1.8rem;
    color: #0aa7de;
}

.navbar-navigation__icon {
    font-size: 1.4rem;
    position: relative;
}

.navbar-navigation__number {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    color: #cd8f1d;
    right: -3px;
    top: -7px;
}

.navbar-navigation__number:hover {
    color: #cd8f1d;
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #cd8f1d;
}

.navbar-navigation__content {
    margin-left: 4px;
    font-size: 1.8rem;
}

.navbar-navigation__content--color {
    color: orange;
}

/* Header -----------------------------------------------------------------------------------------------*/
.header {
    background-color: #425fbc;
    margin: 0;
}

.header-title {
    height: 100%;
}

.header-title__list {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-title__link {
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0px 10px 10%;
    color: #f2f2f2;
}

.header-title__link:hover {
    color: #0aa7de !important;
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.header-title__link--color {
    color: #0aa7de;
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.header-tile__item {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header-tile__item:hover {}

.header-search__cover {
    display: flex;
    justify-content: flex-end;
}

.header-search {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2f62;
}

.header-search__input {
    height: 30px;
    margin: 0 0 4px 8px;
    width: 60%;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    outline: none;
}

.header-search__input::placeholder {
    color: var(--white-color);
}

.header-search__input:focus-visible {
    border: none !important;

}

.header-search__icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: 0 20px;
}

/* Background Slider ----------------------------------------------------------------------------------------------- */

.background-slider {
    margin: 0;
}

.background-slider__column {
    padding: 0;
}

.background-slider__list {
    width: 100%;
}

.background-slider__item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed !important;
    position: relative;
}

.background-slider__content {
    position: absolute;
    color: var(--white-color);
    left: 20px;
    top: 330px;
    font-size: 9.2rem;
}

/* Product slider -----------------------------------------------------------------------------------------------*/

.product-slider__cover {
    position: relative;
}

.product-slider {
    margin: 0px 0px 34px 0px;

}

.product-slider__heading {
    display: flex;
    justify-content: center;
}

.product-slider__heading-content {
    font-size: 5.8rem;
    font-weight: 700;
}



.product-slider__item {
    background-image: linear-gradient(-45deg, #24273c, #1d2f65, #425fbc, #0a759c);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 14px !important;
    height: 100%;
    margin: 0px 0px 45px 4px;
    padding-bottom: 20px;
}

.product-slider__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    margin-top: 8px;
}

.product-slider__content {
    text-align: center;
    padding-top: 14px;
}

.product-slider__name {
    font-size: 1.8rem;
    color: var(--white-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-slider__price {
    font-size: 1.4rem;
    color: rgb(228, 164, 45);
    display: block;
}

.product-slider__link {}


/* Advertising */
.advertising {}

.advertising__column {
    padding: 0;
}

.advertising__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.advertising__cicle {
    border: 2px solid #0aa7de;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    display: flex;
    margin: auto;
}

.advertising__content {
    z-index: 9;
    margin: auto;
    padding: 20% 14%;
    font-weight: 600;
    font-size: 2.2rem;
    border-radius: 100%;
    color: var(--white-color);
}

/* convenience  ------------------------------------------------------------------------------------------------*/
.convenience {
    background-color: var(--navbar-color);
    color: var(--white-color);
    padding: 20px 0;
}

.convenience__cover {
    padding: 0 100px;
}

.convenience__cover-content {
    display: flex;
    align-items: center;
}

.convenience__symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.convenience__icon {
    font-size: 6.8rem;
    border: 2px solid #0aa7de;
    border-radius: 100%;
    padding: 22% 20%;
}

.convenience__content {}

.convenience__heading {
    font-size: 3.2rem;
}

.convenience__text {
    font-size: 1.4rem;
}

.convenience__symbols {}

.convenience__symbols-icon {
    font-size: 1.8rem;
    margin-left: 4px;
}

.convenience__symbols-icon:first-child {
    margin-left: 0;
}


/* Footer ------------------------------------------------------------------------------------------------------ */
.footer {
    background-color: var(--footer-coolor);
    color: var(--white-color);
}

.footer-cover {
    padding: 10px;
}

.footer-cover:last-child {
    border-right: none;
}

.footer-heading {
    font-size: 3.2rem;
    font-weight: 600;
}

.footer_para {
    font-size: 1.2rem;
}

.footer_content-cover {
    border-right: 2px solid #0aa7de;
    padding-right: 8px;
}

.footer-list {
    list-style-type: none;
    position: relative;
}

.footer-item {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-item__icon {
    margin-right: 4px;
}

/* page products ----------------------------------------------------------------------------------*/

.container-product {
    background-color: #20222e;
    padding-top: 25px;
}

.category {
    background-color: #425fbc;
    color: var(--white-color);
    border-radius: 4px;
}

.category-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category-heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    border-top: 2px solid #e1e1e1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item-link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.category-item-link:hover {
    color: var(--primary-color);
}

/* Mobile header */

.navbar-mobile {
    background-color: var(--header-color);
    color: var(--white-color);
    padding: 10px;
    margin: 0;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.2s;
    cursor: pointer;
}

.navbar-mobile__bar-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-mobile__bar-img {
    font-size: 2.4rem;
    cursor: pointer;
}

.navbar-input:checked~.nav__overlay {
    display: block;
}

.navbar-input:checked~.navbar-mobile__cover {
    transform: translateX(0%);
    opacity: 1;
}

.navbar-mobile__cover {
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 252px;
    position: fixed;
    max-width: 100%;
    transform: translateX(100%);
    background-color: #425fbc;
    transition: transform linear 0.3s, opacity linear 0.3s;
    background-image: linear-gradient(to bottom, #425fbc, #2b2929);
}

.navbar-mobile__exit {
    cursor: pointer;
    padding: 12px;
}

.navbar-mobile__exit-icon {
    font-size: 2.2rem;
    margin-left: 8px;
}

.navbar-mobile__exit-icon:hover {
    color: tomato;
}

.navbar-mobile__list {
    list-style-type: none;
    text-align: right;
}

.navbar-mobile__link {
    color: var(--white-color);
    text-decoration: none !important;
    width: 100%;
}

.navbar-mobile__link:hover {
    color: var(--icon-color);
    filter: brightness(1.75);
}

.navbar-mobile__item {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 10px 50px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.navbar-mobile__content {
    margin-right: 12px;
}

.navbar-mobile__icon {
    font-size: 1.8rem;
}

/* Shop page ---------------------------------------------------------------------------------- */
.shop-cover {
    margin-top: 0 !important;
    padding: 180px 0px 250px 0px;
}

.shop-categori-cover {
    position: sticky;
    top: 90px;
}

.shop-categori__heading {
    font-size: 3.8rem !important;
}

.shop-list__heading {
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    border: 0;
    border-radius: 0 !important;
    border-bottom: 3px solid #425fbc;
    background: transparent;
}

.shop-item__search {
    /* position: fixed; */
}

.shop-item__link {
    width: 70%;
}

.shop-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 0 !important;
    color: #20222e;
    border: 0;
    width: 70%;
    border-bottom: 1.5px solid #425fbc;
    background: transparent;
}

.shop-item__heading:hover {
    color: #0aa7de;
    border-bottom: 1px solid #0aa7de;
    /* text-shadow: 0px 0px 20px #0aa7de; */
}


.shop-search-cover {
    width: 400px;
}

.shop-search-input {
    height: 50px !important;
    outline: none;
    border: none;
    font-size: 2.2rem;
    font-weight: 400;
    background: transparent;
}

.shop-search-input::placeholder {
    color: #b1b1b1;
    font-weight: 500;
}

.shop-search-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: var(--header-color);
}

.shop-search-input:focus {
    border-bottom: 2px solid var(--navbar-color);
}

::-webkit-input-placeholder {
    color: transparent;
}

.shop-item-cover {
    margin-top: 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-image: linear-gradient(-45deg, #24273c, #1d2f65, #425fbc, #0a759c);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.shop-item-image {
    border: none;
}

.card-body__cover {
    width: 100%;
}

.shop-item__link {
    color: var(--white-color);
}

.shop-item-tile {
    font-size: 2.2rem;
    color: #fff !important;
}

.shop-item-price {
    color: rgb(238, 180, 73);
    font-size: 1.8rem;
}

.shop-item-content {
    font-size: 1.4rem;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 538px;
}

.shop-item-btn__cover {
    display: flex;
    align-items: center;
}

.shop-item-input {
    height: 26px;
    width: 53px;
    border: none;
    outline: none;
    margin-bottom: 0 !important;
    font-size: 1.8rem;
    padding-left: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.shop-item-input::placeholder {
    color: #c0c0c0;
}

.shop-item__link-cover {
    display: flex;
    justify-content: flex-end;
}

.shop-item__link-add {
    border: 2px solid #0aa7de !important;
    background-color: transparent;
    border-radius: 100%;
    padding: 12px;
    margin: 0 8px 0 120px;
}

.shop-item__link-add:hover {
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.shop-item__link-view {
    border: 2px solid #0aa7de !important;
    background-color: transparent;
    border-radius: 100%;
    padding: 12px;
}

.shop-item__link-view:hover {
    filter: brightness(1.75);
    background-color: transparent;
    text-shadow: 0px 0px 8px #0aa7de;
}

.shop-item__link-icon {
    color: #0aa7de;
    font-size: 1.6rem;
}

.shop-item__link-icon:hover {
    filter: brightness(1.75);
}

/* Login page-------------------------------------------------------------------------------- */
.form_login_container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* oderPlaced page */
.orderplaced {
    padding-top: 10%;
    color: var(--white-color);
}

.orderplaced__background {
    background-image: linear-gradient(-45deg, #24273c, #1d2f65, #425fbc, #0a759c);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: var(--white-color) !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navbar-mobile__cover {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-search__link {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
}