.input {
    width: 100px;
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    text-align: center;
}

.input:focus {
    border-bottom: 1px solid #6941c6;
    -webkit-transition: 0.1s;
    transition: 0.5s;
}

.icon_cart{
    margin-left: 5px;
}